{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
	<h1 class = "text-center my-3">Update Profile Form</h1>
	<div class = "container">
		<div class = "row">
			<div class = "col-6 offset-3">

				{% if error == True %}
					<p class = "text-danger">Invalid details. Please input correct details.</p>
				{% endif %}
				
				<form action = "{% url 'todolist:change_password' %}" method = "POST">
					<!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
					<!-- CSRF occurs when a malicious website contains link, a from button or some javascript that is intended to perform some action in our website -->
					{% csrf_token %}
				  <div class="mb-3">
				    <label for="changepassword" class="form-label">Password:</label>
				    <input 
				    	type="password" 
				    	class="form-control" 
				    	id="changepassword"
				    	name = "changepassword"
				    	value = "{{ changepassword }}"
				    	maxlength="20" 
				    	required
				    	>

				  </div>
				  <div class="mb-3">
				    <label for="changeconfirm" class="form-label">Confirm Password:</label>
				    <input 
				    	type="password" 
				    	class="form-control" 
				    	id="changeconfirm"
				    	name = "changeconfirm"
				    	value = "{{ changeconfirm }}"
				    	maxlength="20" 
				    	required
				    	>

				  </div>
				  
				  <button type="submit" class="btn btn-primary">Change Password</button>
				</form>
				
			</div>
			
		</div>
	</div>

{% endblock %}