{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
	<h1 class = "text-center my-3">Registration Form</h1>
	<div class = "container">
		<div class = "row">
			<div class = "col-6 offset-3">

				{% if error == True %}
					<p class = "text-danger">Invalid details. Please input correct details.</p>
				{% endif %}
				
				<form action = "{% url 'todolist:register' %}" method = "POST">
					<!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
					<!-- CSRF occurs when a malicious website contains link, a from button or some javascript that is intended to perform some action in our website -->
					{% csrf_token %}
				  <div class="mb-3">
				    <label for="username" class="form-label">Username:</label>
				    <input 
				    	type="text" 
				    	class="form-control" 
				    	id="username" 
				    	value = "{{ username }}"
				    	name = "username"
				    	maxlength = "20"
				    	required 
				    	>
				  </div>
				  <div class="mb-3">
				    <label for="firstname" class="form-label">First Name:</label>
				    <input 
				    	type="text" 
				    	class="form-control" 
				    	id="firstname" 
				    	value = "{{ firstname }}"
				    	name = "firstname"
				    	maxlength = "20"
				    	required 
				    	>
				  </div>
				  <div class="mb-3">
				    <label for="lastname" class="form-label">Last Name:</label>
				    <input 
				    	type="text" 
				    	class="form-control" 
				    	id="lastname" 
				    	value = "{{ lastname }}"
				    	name = "lastname"
				    	maxlength = "20"
				    	required 
				    	>
				  </div>
				  <div class="mb-3">
				    <label for="email" class="form-label">Email:</label>
				    <input 
				    	type="email" 
				    	class="form-control" 
				    	id="email" 
				    	value = "{{ email }}"
				    	name = "email"
				    	required 
				    	>
				  </div>
				  <div class="mb-3">
				    <label for="password" class="form-label">Password:</label>
				    <input 
				    	type="password" 
				    	class="form-control" 
				    	id="password"
				    	name = "password"
				    	value = "{{ password }}"
				    	maxlength="20" 
				    	required
				    	>

				  </div>
				  <div class="mb-3">
				    <label for="confirm" class="form-label">Confirm Password:</label>
				    <input 
				    	type="password" 
				    	class="form-control" 
				    	id="confirm"
				    	name = "confirm"
				    	value = "{{ confirm }}"
				    	maxlength="20" 
				    	required
				    	>

				  </div>
				  
				  <button type="submit" class="btn btn-primary">Register</button>
				</form>
				
			</div>
			
		</div>
	</div>

{% endblock %}