{% extends 'base.html' %}

{% block content %}
	{% if eventitem_list and user.is_anonymous == False %}
		<h1 class = "text-center my-3">Welcome {{user.first_name}} {{user.last_name}}!</h1>

		<div class = "container">
			<div class = 'row'>
				<h3 class = "text-center mb-3">My Events</h3>
				<ul class = " list-group text-center col-lg-4 offset-lg-4">
				{% for eventitem in eventitem_list %}
					<li class = "list-group-item"><a class = "text-decoration-none"href = "{% url 'eventlist:vieweventitem' eventitem.id %}">{{eventitem.event_name}}</a></li>
				{% endfor%}	
				</ul>
			</div>
		</div>

		
	{% elif eventitem_list.count == 0 and user.is_anonymous == False %}
		<p class = "text-center my-3">No events have been created.</p>
	{%else%}
		<p class = "text-center my-3">No events have been created.</p>

	{% endif %}

{% endblock %}